@model WebApplication1.Models.sehirler
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("SehirGuncelle", "Sehir", FormMethod.Post))
            {   
    @Html.HiddenFor(m => m.SEHIR_ID)
    <div>
        @Html.LabelFor(m => m.SEHIR_AD)
        @Html.TextBoxFor(m => m.SEHIR_AD, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.SEHIR_PLAKA_KOD)
        @Html.TextBoxFor(m => m.SEHIR_PLAKA_KOD, new { @class = "form-control" })
    </div>

    <div class="d-flex align-items-center">
        <button class="btn btn-primary mt-4 mr-4">Güncelle</button>
        <a href="/Sehir/" class="btn btn-danger mt-4">İptal Et</a>
    </div>
}


